Repository z-shell/.github, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation 📝, dependencies 📦, enhancement ✨, maintenance 📈, i18n 🌐, ci 🤖

.github/labeler.yml:

documentation 📝:
  - "governance/**/*.md"
  - "community/**/*.md"
  - "ecosystem/**/*.md"
  - "docs/**/*.md"
dependencies 📦:
  - "package.json"
  - "pnpm-lock.yaml"
  - "yarn.lock"
enhancement ✨:
  - "functions/**"
  - "profile/**"
  - "src/**"
  - "lib/**"
maintenance 📈:
  - ".editorconfig"
  - ".github/CODEOWNERS"
  - ".github/*.md"
  - ".github/*.yml"
  - ".github/*.json"
  - ".imgbotconfig"
  - ".hadolint.y*"
  - ".vscode/*"
  - "tsconfig.json"
  - "babel.config.js"
  - "docusaurus.config.js"
  - "crowdin.yml"
  - "netlify.toml"
  - ".prettierrc"
  - ".prettierignore"
  - ".markdownlint.json"
  - ".trunk/*.yaml"
  - ".trunk/*.json"
  - ".trunk/*rc"
i18n 🌐:
  - "i18n/**"
ci 🤖:
  - "workflow-templates/**"
  - ".github/workflows/**"
  - "actions/**"
#annex 🌀:
#  - "functions/→za**"
#plugin ⚙️:
#  - "functions/**"
#  - "*.zsh"
#package 📦:
#  - "package.json"

Update Dockerfile
  actions/rebase/Dockerfile
Labels: ci 🤖

Update dependabot.yml
  .github/dependabot.yml
Labels: maintenance 📈

Update Dockerfile
  actions/mirror/Dockerfile
Labels: ci 🤖

modified: .trunk/trunk.yaml
  .trunk/trunk.yaml
Labels: maintenance 📈

Update pagespeed.yml
  .github/workflows/pagespeed.yml
Labels: ci 🤖

modified: .trunk/trunk.yaml
  .trunk/trunk.yaml
Labels: maintenance 📈

modified: .trunk/trunk.yaml
  .trunk/trunk.yaml
Labels: maintenance 📈

Update README.md
  .github/README.md
Labels: maintenance 📈

Update renovate-config.json
  renovate-config.json
Labels: none

Repository star
  .github/stars.md
Labels: maintenance 📈

Update metrics.yml
  .github/workflows/metrics.yml
Labels: ci 🤖

Update reader.yml
  .github/workflows/reader.yml
Labels: ci 🤖

Update pagespeed.yml
  .github/workflows/pagespeed.yml
Labels: ci 🤖

Update activity_metrics.yml
  .github/workflows/activity_metrics.yml
Labels: ci 🤖

modified: .github/workflows/activity_metrics.yml modified: .github/workflows/metrics.yml modified: .github/workflows/pagespeed.yml modified: .github/workflows/reader.yml
  .github/workflows/activity_metrics.yml
  .github/workflows/metrics.yml
  .github/workflows/pagespeed.yml
  .github/workflows/reader.yml
Labels: ci 🤖

Update renovate-config.json
  renovate-config.json
Labels: none

Update renovate-config.json
  renovate-config.json
Labels: none

modified: .trunk/trunk.yaml
  .trunk/trunk.yaml
Labels: maintenance 📈

Update trunk.yml
  .github/workflows/trunk.yml
Labels: ci 🤖

Update trunk.yml
  .github/workflows/trunk.yml
Labels: ci 🤖

Update Dockerfile
  actions/rclone/Dockerfile
Labels: ci 🤖

trunk upgrade: 1.3.0 → 1.3.1
  .trunk/trunk.yaml
Labels: maintenance 📈

Update README.md
  .github/README.md
Labels: maintenance 📈

Update metrics.yml
  .github/workflows/metrics.yml
Labels: ci 🤖

modified: .trunk/trunk.yaml
  .trunk/trunk.yaml
Labels: maintenance 📈

[discussions]: general template
  .github/DISCUSSION_TEMPLATE/general.yml
Labels: none

modified: .github/DISCUSSION_TEMPLATE/general.yml
  .github/DISCUSSION_TEMPLATE/general.yml
Labels: none

new file: .github/workflows/label-templated-discussions.yml
  .github/workflows/label-templated-discussions.yml
Labels: ci 🤖

Repository star
  .github/stars.md
Labels: maintenance 📈

Update config.yml
  .github/ISSUE_TEMPLATE/config.yml
Labels: none

modified: .trunk/trunk.yaml modified: renovate-config.json
  .trunk/trunk.yaml
  renovate-config.json
Labels: maintenance 📈

/trunk announce
  .trunk/trunk.yaml
Labels: maintenance 📈

modified: .trunk/trunk.yaml
  .trunk/trunk.yaml
Labels: maintenance 📈

modified: .trunk/trunk.yaml
  .trunk/trunk.yaml
Labels: maintenance 📈

new file: .github/hook.sh modified: .trunk/trunk.yaml
  .github/hook.sh
  .trunk/trunk.yaml
Labels: maintenance 📈

update: workflow-templates
  .github/workflows/lock.yml
  workflow-templates/lock-action.properties.json
  workflow-templates/lock-action.yml
  workflow-templates/stale-action.properties.json
  workflow-templates/stale-action.yml
Labels: ci 🤖

Create .gitkeep
  .github/img/.gitkeep
Labels: none

Add files via upload
  .github/img/github_actions.png
Labels: none

modified: .github/workflows/label-templated-discussions.yml
  .github/workflows/label-templated-discussions.yml
Labels: ci 🤖

modified: .github/img/github_actions.png
  .github/img/github_actions.png
Labels: none
