Repository z-shell/.github, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation 📝, dependencies 📦, enhancement ✨, maintenance 📈, i18n 🌐, ci 🤖

workflow-templates
  workflow-templates/stale-action.properties.json
  workflow-templates/trunk.properties.json
Labels: ci 🤖

Update README.md
  .github/README.md
Labels: maintenance 📈

Update gh-push.yml
  .github/workflows/gh-push.yml
Labels: ci 🤖

new file: .editorconfig new file: .gitattributes new file: .gitignore
  profile/assets/.editorconfig
  profile/assets/.gitattributes
  profile/assets/.gitignore
Labels: enhancement ✨

renamed: LINKS.md -> assets/drafts/LINKS.md
  profile/assets/drafts/LINKS.md
Labels: enhancement ✨

modified: .github/workflows/gh-push.yml
  .github/workflows/gh-push.yml
Labels: ci 🤖

Update gh-push.yml
  .github/workflows/gh-push.yml
Labels: ci 🤖

Create gh-deploy-assets.yml
  .github/workflows/gh-deploy-assets.yml
Labels: ci 🤖

Update gh-deploy-assets.yml
  .github/workflows/gh-deploy-assets.yml
Labels: ci 🤖

modified: .github/workflows/gh-deploy-assets.yml
  .github/workflows/gh-deploy-assets.yml
Labels: ci 🤖

Update gh-deploy-assets.yml
  .github/workflows/gh-deploy-assets.yml
Labels: ci 🤖

modified: .github/workflows/gh-deploy-assets.yml
  .github/workflows/gh-deploy-assets.yml
Labels: ci 🤖

Update labels.yml
  .github/lib/labels.yml
Labels: none

chore: 🚀 [CI]: workflows
  .github/workflows/pages-deployment.yaml
  .github/workflows/zsh-n.yml
Labels: ci 🤖

ci: 🚀 Link check
  .github/workflows/lychee.yml
Labels: ci 🤖

[chore]: consolidate CI to repository
  .github/CONTRIBUTING.md
  .github/GOVERNANCE.md
  .github/ISSUE_TEMPLATE/01_bug_report.yml
  .github/ISSUE_TEMPLATE/02_feature_request.yml
  .github/ISSUE_TEMPLATE/03_codebase_improvement.yml
  .github/ISSUE_TEMPLATE/04_documentation.yml
  .github/ISSUE_TEMPLATE/05_membership.yml
  .github/MAINTAINERS.md
  .github/workflows/ci-perf.yml
  .github/workflows/crowdin-download.yml
  .github/workflows/crowdin-upload.yml
  .github/workflows/lychee.yml
  .github/workflows/pages-deployment.yaml
  .github/workflows/rclone-action.yml
  .github/workflows/zsh-n.yml
  governance/README.md
Labels: documentation 📝, maintenance 📈, ci 🤖

Update pages-deployment.yaml
  .github/workflows/pages-deployment.yaml
Labels: ci 🤖

Update metrics.yml
  .github/workflows/metrics.yml
Labels: ci 🤖

Update metrics.yml
  .github/workflows/metrics.yml
Labels: ci 🤖

Update lychee.yml
  .github/workflows/lychee.yml
Labels: ci 🤖

[maintenance]: links #88
  .github/.lycheeignore
  .github/CHARTER.md
  .github/CONTRIBUTING.md
  .github/MAINTAINERS.md
  .github/README.md
  .github/STEERING_COMMITTEE.md
  .github/workflows/lychee.yml
Labels: maintenance 📈, ci 🤖

Update lychee.yml
  .github/workflows/lychee.yml
Labels: ci 🤖

Update .lycheeignore
  .github/.lycheeignore
Labels: none

Update lychee.yml
  .github/workflows/lychee.yml
Labels: ci 🤖

modified: .github/workflows/lychee.yml
  .github/workflows/lychee.yml
Labels: ci 🤖

Update README.md
  .github/README.md
Labels: maintenance 📈

modified: .github/README.md
  .github/README.md
Labels: maintenance 📈

Update activity_metrics.yml
  .github/workflows/activity_metrics.yml
Labels: ci 🤖

Update reader.yml
  .github/workflows/reader.yml
Labels: ci 🤖

modified: .trunk/trunk.yaml
  .trunk/trunk.yaml
Labels: maintenance 📈

Update dependency-review.yml
  .github/workflows/dependency-review.yml
Labels: ci 🤖

deleted: .github/.lycheeignore
  .github/.lycheeignore
  .github/CHARTER.md
  .github/lychee.toml
  .github/workflows/lychee.yml
  .gitignore
Labels: maintenance 📈, ci 🤖

modified: .trunk/trunk.yaml modified: actions/mirror/Dockerfile
  .trunk/trunk.yaml
  actions/mirror/Dockerfile
  metrics/plugin/pagespeed/detailed.svg
Labels: maintenance 📈, ci 🤖

.github/labeler.yml:

documentation 📝:
  - "governance/**/*.md"
  - "community/**/*.md"
  - "ecosystem/**/*.md"
  - "docs/**/*.md"
dependencies 📦:
  - "package.json"
  - "pnpm-lock.yaml"
  - "yarn.lock"
enhancement ✨:
  - "functions/**"
  - "profile/**"
  - "src/**"
  - "lib/**"
maintenance 📈:
  - ".editorconfig"
  - ".github/CODEOWNERS"
  - ".github/*.md"
  - ".github/*.yml"
  - ".github/*.json"
  - ".imgbotconfig"
  - ".hadolint.y*"
  - ".vscode/*"
  - "tsconfig.json"
  - "babel.config.js"
  - "docusaurus.config.js"
  - "crowdin.yml"
  - "netlify.toml"
  - ".prettierrc"
  - ".prettierignore"
  - ".markdownlint.json"
  - ".trunk/*.yaml"
  - ".trunk/*.json"
  - ".trunk/*rc"
i18n 🌐:
  - "i18n/**"
ci 🤖:
  - "workflow-templates/**"
  - ".github/workflows/**"
  - "actions/**"
#annex 🌀:
#  - "functions/→za**"
#plugin ⚙️:
#  - "functions/**"
#  - "*.zsh"
#package 📦:
#  - "package.json"
