Repository z-shell/.github, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation 📝, dependencies 📦, enhancement ✨, maintenance 📈, i18n 🌐, ci 🤖

.github/labeler.yml:

documentation 📝:
  - "governance/**/*.md"
  - "community/**/*.md"
  - "ecosystem/**/*.md"
  - "docs/**/*.md"
dependencies 📦:
  - "package.json"
  - "pnpm-lock.yaml"
  - "yarn.lock"
enhancement ✨:
  - "functions/**"
  - "profile/**"
  - "src/**"
  - "lib/**"
maintenance 📈:
  - ".editorconfig"
  - ".github/CODEOWNERS"
  - ".github/*.md"
  - ".github/*.yml"
  - ".github/*.json"
  - ".imgbotconfig"
  - ".hadolint.y*"
  - ".vscode/*"
  - "tsconfig.json"
  - "babel.config.js"
  - "docusaurus.config.js"
  - "crowdin.yml"
  - "netlify.toml"
  - ".prettierrc"
  - ".prettierignore"
  - ".markdownlint.json"
  - ".trunk/*.yaml"
  - ".trunk/*.json"
  - ".trunk/*rc"
i18n 🌐:
  - "i18n/**"
ci 🤖:
  - "workflow-templates/**"
  - ".github/workflows/**"
  - "actions/**"
#annex 🌀:
#  - "functions/→za**"
#plugin ⚙️:
#  - "functions/**"
#  - "*.zsh"
#package 📦:
#  - "package.json"

a53c0e0028c5e1f6f793c792308f79236311c582
  .github/stars.md
Labels: maintenance 📈

Update stars.md
  .github/stars.md
Labels: maintenance 📈

7c39c233221cc2054df862f549f290c52a329db0
  .github/stars.md
Labels: maintenance 📈

Update entrypoint.sh
  actions/rclone/entrypoint.sh
Labels: ci 🤖

Update trunk.yml
  .github/workflows/trunk.yml
Labels: ci 🤖

Sat 5 Nov 21:48:27 GMT 2022
  .trunk/trunk.yaml
Labels: maintenance 📈

Sat 5 Nov 21:59:18 GMT 2022
  .github/workflows/trunk.yml
  actions/rclone/entrypoint.sh
Labels: ci 🤖

modified: .trunk/trunk.yaml
  .trunk/trunk.yaml
Labels: maintenance 📈

Update README.md
  .github/README.md
Labels: maintenance 📈

Update reader.yml
  .github/workflows/reader.yml
Labels: ci 🤖

modified: .github/workflows/reader.yml
  .github/workflows/reader.yml
Labels: ci 🤖

Update README.md
  profile/README.md
Labels: enhancement ✨

new file: Dockerfile new file: action.yml new file: entrypoint.sh new file: mirror.sh
  actions/mirror/Dockerfile
  actions/mirror/action.yml
  actions/mirror/entrypoint.sh
  actions/mirror/mirror.sh
Labels: ci 🤖

new file: README.md modified: action.yml
  actions/mirror/README.md
  actions/mirror/action.yml
Labels: ci 🤖

Update README.md
  actions/mirror/README.md
Labels: ci 🤖

Update mirror.sh
  actions/mirror/mirror.sh
Labels: ci 🤖

modified: actions/mirror/mirror.sh
  actions/mirror/mirror.sh
Labels: ci 🤖

Update README.md
  actions/mirror/README.md
Labels: ci 🤖

modified: actions/mirror/README.md
  actions/mirror/README.md
Labels: ci 🤖

Delete sym_char.md
  profile/styles/sym_char.md
Labels: enhancement ✨

Update README.md
  actions/commit/README.md
Labels: ci 🤖

Update commit-action.yml
  workflow-templates/commit-action.yml
Labels: ci 🤖

Update activity_metrics.yml
  .github/workflows/activity_metrics.yml
Labels: ci 🤖

Update metrics.yml
  .github/workflows/metrics.yml
Labels: ci 🤖

Update pagespeed.yml
  .github/workflows/pagespeed.yml
Labels: ci 🤖

Update reader.yml
  .github/workflows/reader.yml
Labels: ci 🤖

modified: .github/workflows/metrics.yml modified: .github/workflows/pagespeed.yml modified: .trunk/trunk.yaml
  .github/workflows/metrics.yml
  .github/workflows/pagespeed.yml
  .trunk/trunk.yaml
Labels: maintenance 📈, ci 🤖

1c0cf89e152e9cf8b8592bedb4829a63ac46c827
  .github/stars.md
Labels: maintenance 📈

Update stars.yml
  .github/workflows/stars.yml
Labels: ci 🤖

modified: .trunk/trunk.yaml
  .trunk/trunk.yaml
Labels: maintenance 📈

modified: .trunk/trunk.yaml
  .trunk/trunk.yaml
Labels: maintenance 📈

Update stars.yml
  .github/workflows/stars.yml
Labels: ci 🤖

modified: .trunk/trunk.yaml
  .trunk/trunk.yaml
Labels: maintenance 📈

Update metrics.yml
  .github/workflows/metrics.yml
Labels: ci 🤖

Update metrics.yml
  .github/workflows/metrics.yml
Labels: ci 🤖

Update metrics.yml
  .github/workflows/metrics.yml
Labels: ci 🤖

Update metrics.yml
  .github/workflows/metrics.yml
Labels: ci 🤖

Update metrics.yml
  .github/workflows/metrics.yml
Labels: ci 🤖

Update metrics.yml
  .github/workflows/metrics.yml
Labels: ci 🤖

Delete CODE_OF_CONDUCT.md
  governance/project/CODE_OF_CONDUCT.md
Labels: documentation 📝
