Repository z-shell/.github, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation 📝, dependencies 📦, enhancement ✨, maintenance 📈, i18n 🌐, ci 🤖

Update GOVERNANCE.md
  governance/project/GOVERNANCE.md
Labels: documentation 📝

modified: .trunk/trunk.yaml
  .trunk/trunk.yaml
Labels: maintenance 📈

modified: .trunk/trunk.yaml
  .trunk/trunk.yaml
Labels: maintenance 📈

Update metrics.yml
  .github/workflows/metrics.yml
Labels: ci 🤖

Update README.md
  .github/README.md
Labels: maintenance 📈

modified: .github/workflows/metrics.yml
  .github/workflows/metrics.yml
Labels: ci 🤖

Update metrics.yml
  .github/workflows/metrics.yml
Labels: ci 🤖

Update README.md
  profile/README.md
Labels: enhancement ✨

Update metrics.yml
  .github/workflows/metrics.yml
Labels: ci 🤖

Update metrics.yml
  .github/workflows/metrics.yml
Labels: ci 🤖

modified: .github/workflows/metrics.yml
  .github/workflows/metrics.yml
Labels: ci 🤖

Update metrics.yml
  .github/workflows/metrics.yml
Labels: ci 🤖

Update README.md
  profile/README.md
Labels: enhancement ✨

Delete zw_followup.svg
  metrics/plugin/followup/zw_followup.svg
Labels: none

Update activity_metrics.yml
  .github/workflows/activity_metrics.yml
Labels: ci 🤖

Update activity_metrics.yml
  .github/workflows/activity_metrics.yml
Labels: ci 🤖

new file: .trunk/config/.flake8 new file: .trunk/config/.isort.cfg modified: .trunk/trunk.yaml
  .trunk/config/.flake8
  .trunk/config/.isort.cfg
  .trunk/trunk.yaml
  actions/verify-pr-labels/Dockerfile
  actions/verify-pr-labels/README.md
  actions/verify-pr-labels/action.yml
  actions/verify-pr-labels/verify_pr_lables.py
Labels: maintenance 📈, ci 🤖

Update pr-labels.yml
  .github/workflows/pr-labels.yml
Labels: ci 🤖

Update renovate-config.json
  renovate-config.json
Labels: none

modified: .github/dependabot.yml
  .github/dependabot.yml
Labels: maintenance 📈

modified: actions/verify-pr-labels/Dockerfile
  actions/verify-pr-labels/Dockerfile
Labels: ci 🤖

Docker dependencies (#71)
  .github/dependabot.yml
  actions/verify-pr-labels/Dockerfile
Labels: maintenance 📈, ci 🤖

modified: pr-labels.properties.json modified: pr-labels.yml
  workflow-templates/pr-labels.properties.json
  workflow-templates/pr-labels.yml
Labels: ci 🤖

Update Dockerfile
  actions/verify-pr-labels/Dockerfile
Labels: ci 🤖

Update Dockerfile
  actions/verify-pr-labels/Dockerfile
Labels: ci 🤖

renamed: pr-labels.properties.json -> verify-pr-labels.properties.json renamed: pr-labels.yml -> verify-pr-labels.yml
  workflow-templates/verify-pr-labels.properties.json
  workflow-templates/verify-pr-labels.yml
Labels: ci 🤖

modified: actions/verify-pr-labels/Dockerfile
  actions/verify-pr-labels/Dockerfile
Labels: ci 🤖

modified: actions/verify-pr-labels/Dockerfile
  actions/verify-pr-labels/Dockerfile
Labels: ci 🤖

Next (#73)
  workflow-templates/pr-labels.properties.json
  workflow-templates/pr-labels.yml
  workflow-templates/verify-pr-labels.properties.json
  workflow-templates/verify-pr-labels.yml
Labels: ci 🤖

Update dependabot.yml
  .github/dependabot.yml
Labels: maintenance 📈

Update activity_metrics.yml
  .github/workflows/activity_metrics.yml
Labels: ci 🤖

Repository star
  .github/stars.md
Labels: maintenance 📈

Update activity_metrics.yml
  .github/workflows/activity_metrics.yml
Labels: ci 🤖

Delete org-people.svg
  metrics/plugin/people/org-people.svg
Labels: none

Delete ops.io.zsh.svg
  metrics/plugin/rss/ops.io.zsh.svg
Labels: none

Delete repositories.svg
  metrics/plugin/repositories/repositories.svg
Labels: none

Update renovate-config.json
  renovate-config.json
Labels: none

Update Dockerfile
  actions/rclone/Dockerfile
Labels: ci 🤖

Update dependabot.yml
  .github/dependabot.yml
Labels: maintenance 📈

Update Dockerfile
  actions/mirror/Dockerfile
Labels: ci 🤖

.github/labeler.yml:

documentation 📝:
  - "governance/**/*.md"
  - "community/**/*.md"
  - "ecosystem/**/*.md"
  - "docs/**/*.md"
dependencies 📦:
  - "package.json"
  - "pnpm-lock.yaml"
  - "yarn.lock"
enhancement ✨:
  - "functions/**"
  - "profile/**"
  - "src/**"
  - "lib/**"
maintenance 📈:
  - ".editorconfig"
  - ".github/CODEOWNERS"
  - ".github/*.md"
  - ".github/*.yml"
  - ".github/*.json"
  - ".imgbotconfig"
  - ".hadolint.y*"
  - ".vscode/*"
  - "tsconfig.json"
  - "babel.config.js"
  - "docusaurus.config.js"
  - "crowdin.yml"
  - "netlify.toml"
  - ".prettierrc"
  - ".prettierignore"
  - ".markdownlint.json"
  - ".trunk/*.yaml"
  - ".trunk/*.json"
  - ".trunk/*rc"
i18n 🌐:
  - "i18n/**"
ci 🤖:
  - "workflow-templates/**"
  - ".github/workflows/**"
  - "actions/**"
#annex 🌀:
#  - "functions/→za**"
#plugin ⚙️:
#  - "functions/**"
#  - "*.zsh"
#package 📦:
#  - "package.json"
